nav {
    width: 200px;
    height: auto;
    position: fixed;
    z-index: 5;
}

nav > ul {
    display: block;
    list-style: none;
    position: relative;
}

nav > ul > li {
    display: block;
    height: 54px;
    padding: 10px;
}

nav > ul > li > a > span {
    margin-left: 15px;
    color: black;
    font-size: 20px;
}

.img_n {
    display: inline-block;
}

.img_n > img {
    width: 30px;
    display: inline-block;
}

