{% extends "base.html" %}

{% block content %}
<h1 class="News_name">Лента</h1>
<p>Очень интересный текст!</p>
{% for item in twits%}
<div class="post col-md6 border rounded">
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/twits/{{ item.id }}" class="btn post-icon i1">
                <img class='img1' src="static/img/edit.png" alt="edit">
            </a>
            <a href="/twits_delete/{{ item.id }}" class="btn post-icon i2">
                <img class='img2' src="static/img/delete.png" alt="delete">
            </a>
        </div>
    {% endif %}
    <div>
        <b>{{item.user.name}}</b> <i class="secondary fw-light">{{item.created_date.date()}}</i>
    </div>
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    {% if current_user.is_authenticated %}
        <div><a href="/comments/{{ item.id }}" >Начать обсуждение</a></div>
    {% else %}
            <div><a href=/register" >Начать обсуждение</a></div>
    {% endif %}
</div>
{% endfor %}

{% endblock %}