{% extends "base.html" %}

{% block content %}
<h1 class="News_name">Лента</h1>
<p>Сегодня отличный день, что бы написать что-нибудь новенькое!</p>
{% for item in twits%}
<div class="post col-md6 border rounded">
    {% if current_user.is_authenticated and current_user == item.user %}
        <div>
            <a href="/twits/{{ item.id }}" class="btn post-icon i1">
                <img class='img1' src="static/img/edit.png" alt="edit">
            </a>
            <a href="/twits_delete/{{ item.id }}" class="btn post-icon i2">
                <img class='img2' src="static/img/delete.png" alt="delete">
            </a>
        </div>
    {% endif %}
    <div>
        <b>{{item.user.name}}</b> <i class="secondary fw-light">{{item.created_date.date()}}</i>
    </div>
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div><hr>
    {% if current_user.is_authenticated %}
        <div class="message-div"><a href="/comments/{{ item.id }}"><img class="message-pic" src="https://sun9-46.userapi.com/impg/jVBHIXG9w5CqvVn_M3U3WzN0M3MC-OmaB5pNBg/3A6Ni9wc-eE.jpg?size=512x512&quality=95&sign=2588ec5f5c49c4a3c0c491f16b3478ef&type=album" alt="message">Комментарии</a></div>
    {% else %}
        <div class="message-div"><a href="/register"><img class="message-pic" src="https://sun9-46.userapi.com/impg/jVBHIXG9w5CqvVn_M3U3WzN0M3MC-OmaB5pNBg/3A6Ni9wc-eE.jpg?size=512x512&quality=95&sign=2588ec5f5c49c4a3c0c491f16b3478ef&type=album" alt="message">Комментарии</a></div>
    {% endif %}
</div><br>
{% endfor %}

{% endblock %}